*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

body{
    --twitter-color:#50b7f5;
    --twitter-background:#121415;
}

.sidebaroption{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.sidebaroption .Material-icons, .twitter{
    padding: 20px;
}

.sidebaroption h2{
    font-weight: 800;
    font-size: 20px;
    margin-right: 20px;
}

.sidebaroption:hover{
    background-color: rgb(58, 56, 56);
    border-radius: 30px;
    color: var(--twitter-color);
    transition: color 100ms ease-out;

}

.sidebaroption.active{
    color:var(--twitter-color);
}

.sidebar_Post{
    width: 100%;
    background-color: var(--twitter-color);
    border: none;
    color:white;
    font-weight: 900;
    border-radius: 30px;
    height: 50px;
    margin-top: 20px;
}

body{
    display: flex;
    height: 100vh;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 10px;
    color: white;
}

.sidebar{
    border-right: 1px solid var(#575652);
    flex: 0.2;
    min-width: 250px;
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background: black;
    position: fixed;
    border-right: 1px solid rgb(72, 70, 70);
    
    
}

.twitter{
    color: white;
    font-size: 20px;
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    color: var(--twitter-color);
}